<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image" href="https://pngimg.com/uploads/mars_planet/mars_planet_PNG13.png">
    <title>Mission to Mars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

</head>

<body class="text-white" style="background-color:black;">
    <div class="container">

        <!-- Jumbotron -->
        <div class="jumbotron text-center" style="background-image: url(https://cdn.theatlantic.com/static/mt/assets/science/0831Pic.jpg); background-size: 100%; height: 100%;">
            <h1 class="display-4">Mission to Mars</h1>
            <a class="btn btn-lg text-white" style="background-color:rgb(186, 186, 186);" href="/scrape" role="button">Scrape New
                Data</a>
        </div>

        <!-- News Section -->
        <div class="container">
            <h3>Latest Mars News</h3>
            <h6 style="color: rgb(216, 215, 217;">NASA Garners 7 Webby Award Nominations</h6>
            <p>Nominees include four JPL projects: the solar system and climate websites, InSight social media, and a 360-degree Earth video. Public voting closes April 18, 2019.</p>
        </div>
<br><br>
        <div class="container">
            <div class="row">
                <!-- Left Image-->
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h3>Featured Mars Image</h3>
                    <img src="https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17794-1920x1200.jpg" style="max-width:100%; max-height: auto;" alt="Mars Featured Image">
                </div>

                <!-- Weather Card -->
                <div class="col-lg-4 col-md-4 col-sm-12">

                    <!-- <div class="card" style="width: 18rem;"> -->
                        <!-- <div class="card-body text-white bg-dark"> -->
                            <h5 class="card-title">Current Weather on Mars</h5>
                            <p class="card-text" style="font-size: 12px;">InSight sol 156 (2019-05-05) low -99.2ºC (-146.6ºF) high -18.1ºC (-0.6ºF)\nwinds from the SW at 4.7 m/s (10.5 mph) gusting to 13.8 m/s (30.8 mph) pressure at 7.40 hPa</p>
                            <br><h5 class="card-title">Mars Facts</h5>
                            <p class="card-text" style="font-size: 12px;">
                             Equatorial Diameter         6,792 km<br>
                             Polar Diameter                            6,752 km<br>
                             Mass                 6.42 x 10^23 kg (10.7% Earth)<br>
                             Moons                          2 (Phobos & Deimos)<br>
                             Orbit Distance            227,943,824 km (1.52 AU)<br>
                             Orbit Period                  687 days (1.9 years)<br>
                             Surface Temperature                  -153 to 20 °C<br>
                             First Record                     2nd millennium BC<br>
                             Recorded By                   Egyptian astronomer
                         </p>


                        </div>

                    </div>



                </div> <!-- col4 -->
            </div><!-- Row -->
        </div><!-- Container -->

        <!-- Cards -->
        <h2 style="padding-top: 50px; margin-top: 100px; text-align: center;">Mars Hemispheres</h2>
        <!-- <div class="card-deck"> -->
            <hr>
            <div class="container">
                <div class="row">

                    <div class="col-md-6" style="padding-left: 150px;" >

                            <img src="https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg" height="350" width="375" />
                            <div class="card-body">
                                <p class="card-text">Cerberus Hemisphere Enhanced</p></div>

                            <img src="https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg" height="350" width="375" />
                            <div class="card-body">
                                <p class="card-text">Schiaparelli Hemisphere Enhanced</p></div><br><br>
                    </div>
                    <div class="col-md-6">
                            <img src="https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg" height="350" width="375" />
                            <div class="card-body">
                                    <p class="card-text">Syrtis Major Hemisphere Enhanced</p></div>
                            <img src="https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg" height="350" width="375" />
                            <div class="card-body">
                                    <p class="card-text">Valles Marineris Hemisphere Enhanced</p></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</body>

</html>
